.root { -fx-background-color: #F0F0F0; -fx-text-fill: #000000; }

.button, .gate-button {
    -fx-background-color: #A9A9A9; 
    -fx-text-fill: #000000; 
    -fx-border-color: #000000; 
}

.label, .menu-item, .menu-bar, .menu, .context-menu {
    -fx-text-fill: #000000; 
}

.menu-bar { -fx-background-color: #D3D3D3; }
.menu-item, .menu-item:focused, .menu-item:hover { -fx-background-color: #D3D3D3; }

.grid-cell {
    -fx-background-color: #C0C0C0;
    -fx-border-color: #000000; -fx-border-width: 1; -fx-text-fill: #000000;
}

.spinner .text-field, .text-field {
    -fx-background-color: #FFFFFF; -fx-text-fill: #000000; -fx-border-color: #000000;
}

.combo-box, .combo-box .list-cell, .combo-box-popup .list-view, .combo-box-popup .list-cell {
    -fx-background-color: #FFFFFF; -fx-text-fill: #000000; -fx-border-color: #000000; -fx-border-width: 1;
}
.settings-window {
    -fx-background-color: #D3D3D3;
    -fx-text-fill: #000000;
}

.settings-window .label, .settings-window .radio-button {
    -fx-text-fill: #000000;
}

.settings-window .radio-button:selected {
    -fx-mark-color: #A9A9A9;
}

.settings-window .combo-box, .settings-window .combo-box .list-cell {
    -fx-background-color: #C0C0C0;
    -fx-text-fill: #000000;
    -fx-border-color: #A9A9A9;
}
.invalid-gate {
    -fx-background-color: #666666;  /* Mid-gray */
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
}
